@import "tailwindcss";

/* Hide scrollbar while allowing scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Hide main scrollbar */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}